@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Teko', sans-serif;
    background-color: #f5f2ef;
}

h1 {
    text-align: center;
    margin-top: 60px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    height: 100%;
}

.divResult {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.options {
    font-size: clamp(50px, 10vw, 100px);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.selecionado {
    border: 2px solid black;
}

#resultAnterior {
    text-align: center;
}

p > span {
    font-size: 30px;
}
#resultado {
    font-size: 1.3rem;
    color: rgb(107, 0, 0);
}

p {
    padding: 5px;
}

.button {
    border: none;
    padding: 1px 50px;
    font-size: 30px;
    border-radius: 10px;

    color: #f5f2ef;
    background-color: rgb(0, 0, 0);
    font-family:'Teko', sans-serif;
}