* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: clamp(40px, 10vw, 60px);
}

.cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    height: clamp(40px, 10vw, 60px);

    background-color: #b39595;
}

.logoCabecalho {
    width: 30%;
}

.logoCabecalho img {
    width: clamp(150px, 20vw, 220px);
    filter: drop-shadow(5px 5px #fff);
}

.navBar {
    width: 70%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navItens {
    font-size: clamp(25px, 5vw, 40px);
}

.home {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeImagem img {
    display: block;
    margin: auto;
    width: 90%;
}

.homeTitulo {
    width: clamp(300px, 80vw, 500px);
}

.homeTitulo h1 {
    text-align: center;
    font-size: 40px;
}

.destaqueTitulo {
    color: orange;
}